.title{
    margin-left: 5%;
    margin-bottom: 20px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.time{
    margin-top: 20px;
    margin-left: 5%;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.subtitles{
    margin-left: 8%;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.card{
    margin-top: 50px;
    width: 75%;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons{
    margin-left: 68%;
}

.sharebutton{
    width: 180px;
    margin-right: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.joinbutton{
    width: 180px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description{
    margin-left: 8%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 120%;
    width:80%;
}

.anttendees{
    margin-left: 8%;
    margin-bottom: 60px;
}

.shares{
    flex: 1;
    text-align: center;
    justify-content: center;
}

.headerStyle{
    height: 180;
    padding-inline: 5;
    line-height: '64px';
    background-color: '#DB7093'!important;
  }

.contentStyle{
    min-height: 120;
    line-height: '120px';
    background-color: 'white';
}


.siderStyle{
    line-height: '120px';
    background-color: 'white';
}


.footerStyle{
    background-color: '#DB7093';
}